useDynLib(cvLM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, defaultNumThreads, RcppParallelLibs)
importFrom(stats, AIC, BIC, coef, is.empty.model, model.frame, model.matrix, model.response,
           nobs, summary.lm, terms)
export(cvLM)
export(grid.search)
export(reg.table)
S3method(cvLM, formula)
S3method(cvLM, lm)
S3method(cvLM, glm)
